body {
    font-family: "Roboto", sans-serif;
  }
 
 
   #Hero-Section {
    font-size: small;
    height: 45rem;
    background-image: url("../img/big.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;    
  }
  
.section.header {
    width: 100%;
}
  
.section.header .main-text {
    text-align: center;
  }
  
.section.header h5 {
    font-weight: 100;
  }
  
  .object-fit {
    min-height: 5vh;
    object-fit: contain;
  }
  .card img {
    height: 10rem;  
  }
  /* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }}

  footer {
    display: block;
    padding: 30px 0;
    color: #ffffff;
    font-size: 20px;
    background-color: #1E1A13;
	  text-decoration: none;
    text-align: center;    
}

footer a {
    text-decoration: none;
    color: #ffffff;
}